.nav{
    /* border: solid 2px #000; */
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 2px 30px;
    align-items: center;
  	background-color: rgb(100 116 139);
  }
  .logo{
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
  .icon{
    color: azure;
    font-size: 25px;
  }
  .logo-label,.sign{
    display: block;
  }
  .nav-inside{
  
    display: flex;
    width: 20vw;
    justify-items: center;
    align-items: center;
    gap:10px;
    height: 100%;
    margin-bottom: 10px;
  }
  .logo-label{
    color: azure;
    margin-top: 10px;
  }


@media screen and (max-width: 640px) {
  .logo-label,.sign{
    display: none;
  } 
}
@media screen and (min-width: 1280px) {
  .nav-inside{
    width: 70vw;
  /* border: solid 2px #000; */
  }
}
@media screen and (max-width: 1024px) {
  .nav-inside{
    width: 70vw;
  }
  .nav{
    padding: 0px 20px;
  }
}