.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
}

.font-semibold {
    font-weight: 600;
}

.font-normal {
    font-weight: 400 !important;
}

.flex {
    display: flex;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.rounded-none {
    border-radius: 0px;
}

.rounded {
    border-radius: 0.25rem;
    /* 4px */
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadowed {
    box-shadow: 0 0 20px rgba(180, 180, 180, 0.15);
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #3c3c3c;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.tr_hoverable:hover {
    background-color: #f4f4f4;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #c6c6c6;
}

.cursor-pointer {
    cursor: pointer;
}

.input_border_b {
    border: none;
    border-radius: 5px;
    border: 1px solid #bebebe;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    font-size: 1rem;
}


.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: 1px solid #34495e !important;
    border-radius: 5px;
    padding: 4px 6px !important;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
    border: none;
}

.select2-container .select2-dropdown .select2-results ul {
    padding: 5px;
    background: #fff;
    border: none;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #f9f9f9;
    color: #16a6f7;
}

.btn-active{
    background-color: #009ef7;
}

.btn-err:hover{
    background-color: #b82777;
    color: white;
}

.btn-normal{
    background-color: #f9f9f9;
}

.btn-normal:hover{
    background-color: #009ef7;
    color:white;
}

button{
    cursor: pointer;
}

.btn_style{
    transition: 0.2s ease-in-out;
    padding: 3px 4px;
    border-radius: 5px;
    border:none;
    outline: none;
}

.btn_style:focus{
    outline: none;
}